
body { 
    margin: 0;
}
/* -----------------------------------------nav bar--------------------------------------------- */

.nav_buttons {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  font-size: 25px;
  line-height: 60px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  z-index: 1000;
  padding: 15px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  height: 60px; /* Adjust as necessary */
}

li {
  display: inline-block; /* Remove float:left; */
  text-align: center;
}

li a {
  display: block;
  color: white;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

.active {
    background-color: grey;
    color: rgb(76, 75, 75);
  }

/* -----------------------------------------landing img--------------------------------------------- */

.landing_img {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: 50% 50%; 
  position: relative;
}
.section_img{
  background-image: url("../img/history.jpg");
  background-size: cover;
}

/* -----------------------------------------patch--------------------------------------------- */
.patch {
  position: absolute;
  top: 5%; /* Adjust according to your design */
  left: 5%; /* Adjust according to your design */
  width: 20vw; /* Adjust according to your design */
  max-width: 250px; /* Optional: to prevent the patch from becoming too large */
  /* margin-top: 12px; */
  padding-top: 35px;
  padding-right: 40px;
}

/* ----------------------------------------- subtitle --------------------------------------------- */

  .subtitle{
    background-color: black;
    height: 200px;
  }

  .subtitle_text{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-right:20%;
    margin-left:20%;
    text-align:center;
    padding-top: 50px;
  }


/* ----------------------------------------- history section title --------------------------------------------- */

.section_title_img{
    height:600px;
    background-image: url("../img/history.jpg");
    background-size: cover;
  }

  .section_title_text{
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-left: 17.5%;
    padding-bottom: 2%;
    /* padding-top: 1%; */
  }


/* ----------------------------------------- history --------------------------------------------- */

.history{
    background-color: black;
  }

  .history_text{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-right:20%;
    margin-left:20%;
    padding-top: 50px;
    line-height: 30px;
  }

  .history_img{
    width: 800px;
    height: 500px;
    align-content: center;
    margin: 5px;
    object-fit: scale-down;
    padding-top: 30px;
    padding-bottom: 20px;  
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }


  /* ----------------------------------------- footer --------------------------------------------- */

  footer{
    color:black;
    background-color:white;
    height: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }


/* Hide menu icon on larger screens */
.menu-icon {
    display: none;
}

/* --------------------------------------------------------------------------------------------WIDTH OF 320 PX--------------------------------------------- */

body { 
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
      display: block;
      cursor: pointer;
      /* additional styling as needed */
      position: fixed; /* keep the menu icon fixed at the top */
      top: 0; /* adjust as needed */
      right: 0; /* adjust as needed */
      padding: 10px; /* adjust as needed */
      z-index: 1000; /* ensure it's above other content */
  }

  .nav_buttons {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    font-size: 14px;
    line-height: 60px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    z-index: 1000;
    padding: 5px;
  }

  li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
  }
  /* Adjustments for other elements */
  .patch {
      top: 3%;
      left: 3%;
      width: 30vw;
  }
  .history_img, .image {
      width: 100%;
      height: auto;
      margin-left: 0;
  }
  .section_title_text {
      font-size: 50px;
      padding-left: 5%;
      padding-bottom: 2%;
      padding-top: 1%;
  }
  .subtitle_text, .history_text {
      font-size: smaller;
      margin-right: 10%;
      margin-left: 10%;
      text-align: center;
      padding-top: 20px;
  }
  footer {
      margin-right: 10%;
      margin-left: 10%;
  }
  .subtitle {
      height: 100px;
  }
}
