body { 
    margin: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20%;
}

/* -----------------------------------------nav bar--------------------------------------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 27%;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 25px;
    line-height: 60px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    
  }
  
li {
    float: left;
    text-align: center;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: black;
    color: white;
  }

.active {
    background-color: grey;
    color: rgb(76, 75, 75);
  }


/* -----------------------------------------clppng--------------------------------------------- */

.clppng{
    background-color: black;
    height: 400px;
}

.clppng_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 150px;
    margin-right:10%;
    margin-left:10%;
}

.clppng_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    /* margin-right:10%;
    margin-left:10%; */
}

.clppng_img{
    width: 500px;
    height: 300;
    float:left;
    margin-right:10%;
    margin-left: 5%;
    padding-top:10px;
}


/* -----------------------------------------spledor and misery--------------------------------------------- */

.spledor_and_misery{
    background-color: black;
    height: 350px;
}

.spledor_and_misery_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 150px;
    margin-right:15%;
    margin-left:10%;
    text-align: right;
}

.spledor_and_misery_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    padding-left:770px;
    padding-top: 15px;
}

.spledor_and_misery_img{
    width: 500px;
    height: 300;
    float:right;
    margin-right:15%;
    margin-left: 0%;
    padding-top:20px;
}

/* -----------------------------------------there existed an addiction to blood--------------------------------------------- */

.there_existed_an_addiction_to_blood{
    background-color: black;
    height: 510px;
}

.there_existed_an_addiction_to_blood_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 150px;
    margin-right:10%;
    margin-left:10%;
}

.there_existed_an_addiction_to_blood_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    /* margin-right:10%;
    margin-left:10%; */
}

.there_existed_an_addiction_to_blood_img{
    width: 500px;
    height: 300;
    float:left;
    margin-right:10%;
    margin-left: 5%;
    padding-top:10px;
}

/* -----------------------------------------visions of bodies being burned--------------------------------------------- */

.visions_of_bodies_being_burned{
    background-color: black;
    height: 1600px;
}

.visions_of_bodies_being_burned_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 150px;
    margin-right:15%;
    margin-left:10%;
    text-align: right;
}

.visions_of_bodies_being_burned_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    padding-left:770px;
    padding-top: 15px;
}

.visions_of_bodies_being_burned_img{
    width: 500px;
    height: 300;
    float:right;
    margin-right:15%;
    margin-left: 0%;
    padding-top:20px;
}


/* ----------------------------------------- footer --------------------------------------------- */

footer{
    color:black;
    background-color:white;
    height: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-right:20%;
    margin-left:15%;
    padding-top: 50px;
  }

/* --------------------------------------------------------------------------------------------WIDTH OF 320 PX--------------------------------------------- */




@media  (min-width: 320px){
    body { 
      margin: 0;
      max-width: 100%;
      overflow-x: hidden;
    }
  /* -----------------------------------------nav bar--------------------------------------------- */
  ul {
    padding-left: 15%;
    font-size: 26px;
  }

  /* -----------------------------------------clppng--------------------------------------------- */

.clppng{
    background-color: black;
    height: 600px;
}

/* -----------------------------------------spledor and misery--------------------------------------------- */

.spledor_and_misery{
    height: 400px;
}


.spledor_and_misery_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 200px;
    margin-right:10%;
    margin-left:10%;
    text-align: left;
}

.spledor_and_misery_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    /* margin-right:10%;
    margin-left:10%; */
}

.spledor_and_misery_img{
    width: 500px;
    height: 300;
    float:left;
    margin-right:10%;
    margin-left: 5%;
    padding-top:10px;
}

/* -----------------------------------------there existed an addiction to blood--------------------------------------------- */

.there_existed_an_addiction_to_blood{
    height: 1300px;
}


/* -----------------------------------------visions of bodies being burned--------------------------------------------- */

.visions_of_bodies_being_burned{
    background-color: black;
    height: 1300px;
    padding-bottom: 600px;
}

.visions_of_bodies_being_burned_title{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-top: 200px;
    margin-right:10%;
    margin-left:10%;
    text-align: left;
}

.visions_of_bodies_being_burned_songs{
    padding-left:700px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height:37px;
    /* margin-right:10%;
    margin-left:10%; */
}

.visions_of_bodies_being_burned_img{
    width: 500px;
    height: 300;
    float:left;
    margin-right:10%;
    margin-left: 5%;
    padding-top:10px;
}


}
  